<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>本の一覧表示</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>
</head>
<body>
	<div th:replace="share::header"></div>
    <div class="container">
		<div class="row">
			<div th:each="book : ${bookList}" th:object="${book}" class="card col-3 me-2 mb-2" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title" th:text="*{title}"></h5>
					<p class="card-text" th:text="*{price} + 円"></p>
					<a class="btn btn-success" th:href="@{/book-edit(id=*{id})}">編集</a>
					<a class="btn btn-danger" th:href="@{/book-delete(id=*{id})}">削除</a>
			  </div>
			</div>
		</div>
		<a class="btn btn-primary mt-3" th:href="@{/book-create}">新規追加</a>
    </div>
</body>
</html>